pipeline {
    agent any
    triggers {
        pollSCM '* * * * *'
    }
    stages {
        stage('Build') {
            steps {
                echo "Building Updated.."
                bat '''
                echo doing build stuff Updated..
                '''
            }
        }
        stage('Test') {
            steps {
                echo "Testing Updated.."
                bat '''
                echo doing test stuff Updated..
                '''
            }
        }
        stage('Deliver') {
            steps {
                echo "Deliver Updated...."
                bat '''
                echo doing delivery stuff Updated..
                '''
            }
        }
    }
}
